In [3]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [4]:
#pandas settings
settings= {'display.max_rows': 50,
           'display.max_columns': 200,
           'display.width': 1000}

for k, v in settings.items():
    pd.set_option(k,v)
    
#matplotlib settings
plt.style.use('ggplot')

In [7]:
#Read in data
path= "../../Data/"

df= pd.read_csv(path + "CleanedWeatherEnergyData.csv", index_col= [0])

In [8]:
df.head()

                     generation biomass  generation fossil brown coal/lignite  generation fossil gas  generation fossil hard coal  generation fossil oil  generation hydro pumped storage consumption  generation hydro run-of-river and poundage  generation hydro water reservoir  generation nuclear  generation other  generation other renewable  generation solar  generation waste  generation wind onshore  total load actual  price day ahead  price actual  Valencia   Madrid     Bilbao  Barcelona  Seville
2015-01-01 00:00:00               447.0                                 329.0                 4844.0                       4821.0                  162.0                                        863.0                                      1051.0                            1899.0              7096.0              43.0                        73.0              49.0             196.0                   6378.0            25385.0            50.10         65.41   27.4550  21.7850  25.983162    47.5250  32.6750
2015-01-01 01:00:00               449.0                                 328.0                 5196.0                       4755.0                  158.0                                        920.0                                      1009.0                            1658.0              7096.0              43.0                        71.0              50.0             195.0                   5890.0            24382.0            48.10         64.92   27.4550  21.7850  26.174300    47.5250  32.6750
2015-01-01 02:00:00               448.0                                 323.0                 4857.0                       4581.0                  157.0                                       1164.0                                       973.0                            1371.0              7099.0              43.0                        73.0              50.0             196.0                   5461.0            22734.0            47.33         64.48   26.0348  19.7348  25.253038    46.9148  33.9548
2015-01-01 03:00:00               438.0                                 254.0                 4314.0                       4131.0                  160.0                                       1503.0                                       949.0                             779.0              7098.0              43.0                        75.0              50.0             191.0                   5238.0            21286.0            42.27         59.32   26.0348  19.7348  25.166019    46.9148  33.9548
2015-01-01 04:00:00               428.0                                 187.0                 4130.0                       3840.0                  156.0                                       1826.0                                       953.0                             720.0              7097.0              43.0                        74.0              42.0             189.0                   4935.0            20264.0            38.41         56.04   26.0348  19.7348  25.673900    46.9148  33.9548

Modeling

In [ ]:
#Set notebook preferences